<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}邓森中的云笔记本{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css' ) }}">
    {% endblock %}
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">主页</a></li>
            <li><a href="{{ url_for('my_photo') }}">照片墙</a></li>
            <li><a href="{{ url_for('about_me') }}">关于我</a></li>
        </ul>
    </nav>

    <main>
        {% for message in get_flashed_messages() %}
        <div class="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% block content %}{% endblock %}
        {% block fenye %}{% endblock %}
    </main>

<footer>
    {% block footer %}
    <small> &copy; 2019 <a href="http://pyeden.com" title="Written by SenZhong">SenZhong</a> /
            </small>
    {% endblock %}
</footer>
{% block scripts %}{% endblock %}
</body>
</html>
